{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="container h-100 ">
        <div class="row h-100 justify-content-center align-items-center ">
            <form class="col-6 bg-white rounded my-3 p-5" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Estás logueado como: {{ app.user.username }}, <a href="{{ path('app_logout') }}">Salir</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">¡Accede a Frikili!</h1>
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu correo con nadie más</small>
                </div>

                <div class="form-group">
                    <label for="inputPassword">Contraseña</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}" >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="btn btn-lg btn-block btn-primary my-3" type="submit">
                    Entrar
                </button>
            </form>
        </div>
    </div>



{% endblock %}
